<footer>
  <nav class="round">
    <ul>
      <%= link_to "About", about_path %>
      <%= link_to "Contact", contact_path %>
      <%= link_to "Facebook", "http://www.facebook.com",  %>
      <%= link_to "Twitter", "http://www.twitter.com", :target => "alt" %>
    </ul>
  </nav>
</footer>

